<a href="https://colab.research.google.com/github/Precyors/Personal_finance/blob/main/Personalized_finance_tracker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import pandas as pd

# Login using e.g. `huggingface-cli login` to access this dataset
#df = pd.read_parquet("hf://datasets/electricsheepafrica/nigerian-banking-retail-transactions/nigerian_retail_transactions_full.parquet")

In [4]:
#df.head()
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   transaction_id          object
 1   account_id              object
 2   customer_id             object
 3   timestamp               datetime64[ns]
 4   amount_ngn              float64
 5   balance_before_ngn      float64
 6   balance_after_ngn       float64
 7   transaction_type        object
 8   channel                 object
 9   merchant_category_code  object
 10  merchant_name           object
 11  location_lga            object
 12  location_state          object
 13  device_id               object
 14  status                  object
 15  fraud_flag              bool
dtypes: bool(1), datetime64[ns](1), float64(3), object(11)
memory usage: 577.0+ MB

In [8]:
import pandas as pd

# Load pilot dataset
df = pd.read_parquet('nigerian_retail_transactions_pilot.parquet')

# Inspect data
print(df.head())
print(df.info())

FileNotFoundError: [Errno 2] No such file or directory: 'nigerian_retail_transactions_pilot.parquet'

In [9]:
from datasets import load_dataset

# This will download the pilot split locally
dataset = load_dataset(
    "electricsheepafrica/nigerian-banking-retail-transactions",
    split="train"
)

# Take a small sample (10k) for quick testing
df = dataset.shuffle(seed=42).select(range(10000)).to_pandas()
print(df.head())

                         transaction_id    account_id   customer_id  \
0  a07e1aea-541e-4cbc-8cf1-7843bcacdcc4  ACC-00008707  CUS-00008707
1  03c49f00-3df3-4d29-bf54-5333e7cebe86  ACC-00030282  CUS-00030282
2  9386b6d3-856e-457e-858b-b94079c61929  ACC-00000711  CUS-00000711
3  2a2799b5-d414-4b7b-b5fe-a0faf802ec63  ACC-00071871  CUS-00071871
4  99088dd3-44bb-4147-924a-822d9ad56566  ACC-00000003  CUS-00000003

            timestamp  amount_ngn  balance_before_ngn  balance_after_ngn  \
0 2024-07-09 18:32:00      6300.0       232479.943585      226179.943585
1 2024-11-21 17:50:00      5300.0        61679.027152       56379.027152
2 2023-11-14 15:07:00      8600.0        56362.526836       47762.526836
3 2023-10-12 16:51:00     47300.0        36495.357214       83795.357214
4 2023-01-30 11:07:00      3400.0       571792.753198      568392.753198

  transaction_type channel merchant_category_code merchant_name  location_lga  \
0            debit  mobile                                        Plateau LGA
1            debit  mobile                                        Anambra LGA
2            debit  mobile                                          Benue LGA
3           credit     pos                   4900         IKEDC  Nasarawa LGA
4            debit  branch                                            Imo LGA

  location_state             device_id   status  fraud_flag
0        Plateau  DEV-c2fd006d0348474c  success       False
1        Anambra  DEV-b1a8a882d4d44744  success       False
2          Benue  DEV-d95d17518bfb4128  success       False
3       Nasarawa                        success       False
4            Imo                        success       False

In [10]:
df.head()

,transaction_id,account_id,customer_id,timestamp,amount_ngn,balance_before_ngn,balance_after_ngn,transaction_type,channel,merchant_category_code,merchant_name,location_lga,location_state,device_id,status,fraud_flag
0,a07e1aea-541e-4cbc-8cf1-7843bcacdcc4,ACC-00008707,CUS-00008707,2024-07-09 18:32:00,6300.0,232479.943585,226179.943585,debit,mobile,,,Plateau LGA,Plateau,DEV-c2fd006d0348474c,success,False
1,03c49f00-3df3-4d29-bf54-5333e7cebe86,ACC-00030282,CUS-00030282,2024-11-21 17:50:00,5300.0,61679.027152,56379.027152,debit,mobile,,,Anambra LGA,Anambra,DEV-b1a8a882d4d44744,success,False
2,9386b6d3-856e-457e-858b-b94079c61929,ACC-00000711,CUS-00000711,2023-11-14 15:07:00,8600.0,56362.526836,47762.526836,debit,mobile,,,Benue LGA,Benue,DEV-d95d17518bfb4128,success,False
3,2a2799b5-d414-4b7b-b5fe-a0faf802ec63,ACC-00071871,CUS-00071871,2023-10-12 16:51:00,47300.0,36495.357214,83795.357214,credit,pos,4900,IKEDC,Nasarawa LGA,Nasarawa,,success,False
4,99088dd3-44bb-4147-924a-822d9ad56566,ACC-00000003,CUS-00000003,2023-01-30 11:07:00,3400.0,571792.753198,568392.753198,debit,branch,,,Imo LGA,Imo,,success,False

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          10000 non-null  object
 1   account_id              10000 non-null  object
 2   customer_id             10000 non-null  object
 3   timestamp               10000 non-null  datetime64[ns]
 4   amount_ngn              10000 non-null  float64
 5   balance_before_ngn      10000 non-null  float64
 6   balance_after_ngn       10000 non-null  float64
 7   transaction_type        10000 non-null  object
 8   channel                 10000 non-null  object
 9   merchant_category_code  10000 non-null  object
 10  merchant_name           10000 non-null  object
 11  location_lga            10000 non-null  object
 12  location_state          10000 non-null  object
 13  device_id               10000 non-null  object
 14  status                  10000 non-null  object
 15  fraud_flag              10000 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), object(11)
memory usage: 1.2+ MB